body {
    background-color: rgb(187, 205, 211);
}
h1 {
    color: navy;
    margin-left: 20px;
}

div {
    height: 300px;
    width: 70%;
    background-color: rgb(48, 163, 201);
}

p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}